<div class="container-fluid">
  <div class="row header">
    <div align="right" style="padding-right:5px"><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></div>
  </div>
  <div class="row body">
    <div id="navbar" class="col-xs-1 side-nav"><center>
      <%= link_to image_tag('assets.png')+'Assets', campaigns_assets_path %> 
      <%= link_to image_tag('structure.png')+'Structure', campaigns_structure_path %> 
      <%= link_to image_tag('performance.png')+'Performance', campaigns_performance_path %>
      <div class="home-link"><%= link_to image_tag('home.png')+'Home', root_path %></div> 
    </center></div>
	<div class="col-xs-11 portal">
<h1>The Homepage Will Be Here</h1>
<% if (not user_signed_in?) then %>
  <%= link_to "LOG IN", new_user_session_path %> or <%= link_to "SIGN UP", new_user_registration_path %>
<% else %>
<!--
  <h2>Welcome</h2>
  <p>Your campaigns:</p>
  <% current_user.campaigns.each do |campaign| %>
    <%= link_to campaign.name, campaigns_assets_path %> <br>
  <% end %>
  <p>Add a campaign</p>
  <div>
    <%= form_for(Campaign.new) do |f| %>
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
-->
		<div class="portal-box">
			<div class="home-menu">
				<div class="left-container"></div>
				<div class="right-container"></div>
			</div>			
		</div>
	</div>
  </div>

  </div>
</div>
