<head>
    <style type="text/css">
        input[type="radio"] {
            /*display: none;*/
        }

        input[type="radio"]:checked + label {
          /* Do something special with the selected state -this doesn't work */
            background-color:#bbb;
        }

        section.success2 {
            background: #161a2f;
            color: white;
        }
</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Performance Branding</title>

    <!-- Bootstrap Core CSS -->
    <link href="<%= asset_path('bootstrap.min.css') %>" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="<%= asset_path('freelancer.css') %>" rel="stylesheet">

    <!-- Custom Fonts -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Performance Branding by<img class="logo-header img-responsive" src="<%= asset_path('ladder.png') %>"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://www.performance-branding.ghost.io">BLOG</a>
                    </li>
                    <li class="page-scroll">
                        <%= link_to 'GET IN TOUCH', new_contact_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">


    <div class="row top"> <!-- white box with title and email from -->
        
        <div class="col-lg-12">

        <div class="intro-text">

        <div class="container whitespace">

        <span class="name"><h1>Build your brand better
through data-driven testing</h1> </span>

        <span class="skills">
        Performance Branding takes your brand’s image to the next level through real-time, data-driven strategies used to establish your brand’s winning Value Proposition
        </span>

        <div class="page-scroll" style="margin-top: 100px;"><a class="tellmemore" href="#about"> TELL ME MORE </a></div>
        </div>

                </div>
        
    </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->

    <!-- About Section -->
    <section class="success" id="about">
        <%= javascript_include_tag "bootstrap-collapse.js" %>
        <div class="container">
            <div class="row panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h5>Understand your brand through data-driven strategies </h5>
          <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" style="color: black;">
        We utilize our proprietary data-driven technology to help brands stand out from the clutter. With Performance Branding you can gain a deep understanding of your brand’s performance and opportunities through data points.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5>Discover your target audience</h5>
          <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body" style="color: black;">
        We provide a testing process that explores potential target markets for your brand. The metrics and data generated through these tests is designed to help you identify optimal target audiences for your brand. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <h5>Stand out amongst your competitors</h5>
         <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body" style="color: black;">
        Knowing how to utilize data to best position your brand within the dense and ever changing marketplace with give you a competitive edge. This means that...
      </div>
    </div>
  </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h5>Brand Realization Across All Channels</h5>
          <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" style="color: black;">
        It is our goal to not only help brands maximize their positioning in the market, but to also to provide quantifiable data points to guide your branding and marketing strategies across all channels.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h5>Reduce Creative Waste</h5>
          <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body" style="color: black;">
       Performance Branding is also about saving you valuable time and money by reducing potential creative waste. Our process helps build brand awareness through rigorous testing. This testing first principle is optimized to give you immediate data to select the best audiences, messages, and images to optimize your branding campaigns.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <h5>Drive Inquiries Using Latest Technology</h5>
         <p>...</p>
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body" style="color: black;">
        Generate inquiries and drive qualified traffic to your brand using our latest real–time technology. With all the different type of messaging in today’s world, we want to make sure that your branding and marketing efforts capture the attention of a precise and clearly defined target.
      </div>
    </div>
  </div>
</div>

</div>

<div class="page-scroll" style="margin-top: 50px; text-align: center; "><a class="tellmemore" href="#contact"> GET STARTED </a></div>

                </div>
            </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                <h2 style="color: #fff;">1. What Do You Do?</h2>

                </div>
            </div>
            <div class="row">
                <%= form_for Form.new do |f| %>
                    <center><p>

    <center>

<div class="col-lg-6 survey1"><label class="surveyQs"><%= radio_button_tag 'form[types][]', 'DESIGNER', class: "btn" %>DESIGNER</label></div>
                <div class="col-lg-6 survey1"><label class="surveyQs"><%= radio_button_tag 'form[types][]', 'MARKETER', class: "btn" %>MARKETER</label></div>
                <div class="col-lg-6 survey1"><label class="surveyQs"><%= radio_button_tag 'form[types][]', 'SOFTWARE DEVELOPER', class: "btn" %>SOFTWARE DEVELOPER</label></div>
                <div class="col-lg-6 survey1"><label class="surveyQs"><%= radio_button_tag 'form[types][]', 'COPYWRITER', class: "btn" %>COPYWRITER</label></div>


  </center> <br>
  </p></center>
                <!--<div class="col-lg-6 survey1"><a class="surveyQs" href="survey2.html">DESIGNER</a></div>
                <div class="col-lg-6 survey1"><a class="surveyQs" href="survey2.html">MARKETER</a></div>
                <div class="col-lg-6 survey1"><a class="surveyQs" href="survey2.html">SOFTWARE DEVELOPER</a></div>
                <div class="col-lg-6 survey1"><a class="surveyQs" href="survey2.html">COPYWRITER</a></div>-->


                            
                        </div>
                </div>
            </div>
        </div>
    </section><%= render partial: "survey2" %>

    <div><%= render partial: "survey3" %>

<div><%= f.submit "SUBMIT BRAND TRAITS", class: "btn btn-default field" %></div>
<% end %>
</div>
    <!-- Footer -->
    <footer class="text-center">
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="logo-footer" href="#page-top"><img class="img-responsive" src="<%= asset_path('logo-footer.png') %>"></a>
                <h5>LADDER DIGITAL COPYRIGHT RESERVED 2016</h5>
            </div>

    </div>

    </nav>
    </footer>
    </div>




    <!-- jQuery     <script src="<%= asset_path('vendor/jquery/jquery.min.js') %>"></script> -->
    <script src="<%= asset_path('jquery.min.js') %>"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<%= asset_path('bootstrap.min.js') %>"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="<%= asset_path('jqBootstrapValidation.js') %>"></script>
    <script src="<%= asset_path('contact_me.js') %>"></script>

    <!-- Theme JavaScript -->
    <script src="<%= asset_path('freelancer.min.js') %>"></script>

</body>
