<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      font-family: Arial, Helvetical, sans-serif;
    }
  </style>
  <title>Ladderror</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="">Assets</a>
  <a href="">Structure</a>
  <a href="">Performance</a>
</nav>

<%= tabs_tag do |tab| %>
  <%= tab.assets 'Assets', root_path %>
  <%= tab.structure 'Structure', campaigns_structure_path %>
  <%= tab.performance 'Performance', campaigns_performance_path %>
<% end %>

<%= yield %>

</body>
</html>
