<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      font-family: Arial, Helvetical, sans-serif;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    p {
      padding-top: 10px;
      padding-right: 20px;
      padding-left: 20px;
    }

  </style>
  <title>Ladderror</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'Assets', campaigns_assets_path %> | 
  <%= link_to 'Structure', campaigns_structure_path %> | 
  <%= link_to 'Performance', campaigns_performance_path %>
</nav>

<%= yield %>

</body>
</html>
