<head>
<style type="text/css">
  textarea {
    width: 100%;
  }
</style>
</head>

  <!-- Modal -->
  <div class="modal fade" id="audModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Fill in Audience stats</h4>
          <%= form_for(Audience.new) do |f| %>
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title %> <br>
            <%= f.label :description, 'Description' %><br>
            <%= f.text_area :description %><br>
            <%= f.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="modal-body">
          <p>Fill in these fields to create the new audience.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

