<%= render partial: "specialnav" %>
<%= yield %>
<h1>Assets</h1>

<p>find me in ladder_ror/app/views/campaigns</p>

<p>the fancy tabbed page will be here.</p>


<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#audiencesA">Audiences</a></li>
    <li><a data-toggle="tab" href="#messagesA">Messages</a></li>
    <li><a data-toggle="tab" href="#creativeA">Creative</a></li>
  </ul>

  <div class="tab-content">
    <div id="audiencesA" class="tab-pane fade in active">
      <%= render 'audiencesA' %>
    </div>
    <div id="messagesA" class="tab-pane fade">
      <%= render 'messagesA' %>
    </div>
    <div id="creativeA" class="tab-pane fade">
      <%= render 'creativeA' %>
    </div>
  </div>
</div>
</div></div>
