<%= render partial: "specialnav" %>
<%= yield %>
<h1>Assets</h1>

<p>find me in ladder_ror/app/views/campaigns</p>

<div class="top-menu">
	<ul class="nav nav-pills" role="tablist">
    		<li role="presentation">
                            <a data-toggle="pill" role="tab" href="#creativeA">Creatives</a>
    		</li>
   			<li role="presentation">
                            <a data-toggle="pill" role="tab" href="#messagesA">Messages</a>
   			</li>
    		<li role="presentation" class="active">
                            <a data-toggle="pill" role="tab" href="#audiencesA">Audiences</a>
    		</li>
  	</ul>

  <div class="tab-content">
    <div id="audiencesA" class="tab-pane fade in active">
      <%= render 'audiencesA' %>
    </div>
    <div id="messagesA" class="tab-pane fade">
      <%= render 'messagesA' %>
    </div>
    <div id="creativeA" class="tab-pane fade">
      <%= render 'creativeA' %>
    </div>
  </div>
 </div> 
</div></div>
