<h1>Portal</h1>
<p>What would you like to do?</p>
<p>Add a campaign</p>
<div>
  <%= form_for(Campaign.new) do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>

<p>Maybe also a search option?</p>

<table>
  <tr>
    <th>Campaign</th>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= campaign.name %></td>
    </tr>
  <% end %>
</table>

<p>Let's try to make this a radio button form</p>


<div class="container">
  <h2>View Campaign Report</h2>
      <!--<%= campaigns_assets_path %>-->
      <%= form_tag(campaigns_assets_path, :method => "post") do %>
      <% @campaigns.each do |campaign| %>
        <div class="radio">
          <%= radio_button_tag 'campaign', campaign.id, :checked=>true %>
          <%= label 'campaign', campaign.id, campaign.name %>
        </div>
      <% end %>
  <%= submit_tag(value = "View", options = {class: "btn btn-primary" }) %>
  <% end %>
</div>
