<h1>Portal</h1>
<p>What would you like to do?</p>
<p>Add a campaign</p>
<div>
  <%= form_for(Campaign.new) do |f| %>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>

    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>

<p>View a campaign</p>
<p>MAKE THE NAVIGATION BAR UNAVAILABLE.  Possibly do this by taking this out from under campaigns.  Though I don't know if you'll still be able to access the database that way...</p>
<p>maybe do this through a rendered partial?  Otherwise, will be an additional link, unless can find another way online.  I would prefer this to be a single page where you can both add AND view all.  In which case, a form could be added above, and over here would be list of all campaigns.  Maybe also a search option?</p>

<table>
  <tr>
    <th>Campaign</th>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= campaign.name %></td>
    </tr>
  <% end %>
</table>

<p>Let's try to make this a radio button form</p>
<div class="container">
  <h2>View Campaign Report</h2>
      <form role="form">
      <% @campaigns.each do |campaign| %>
        <div class="radio">
          <%= radio_button_tag 'campaign', campaign.id, :checked=>true %>
          <%= label 'campaign', campaign.id, campaign.name %>
        </div>
      <% end %>
  <%= submit_tag(value = "View", options = {class: "btn btn-primary" }) %>
  </form>
</div>