<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Performance Branding</title>

    <!-- Bootstrap Core CSS -->
    <link href="<%= asset_path('bootstrap.min.css') %>" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="<%= asset_path('freelancer.css') %>" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index email">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Performance Branding by<img class="logo-header img-responsive" src="<%= asset_path('ladder.png') %>"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="welcome#portfolio">ABOUT</a>
                    </li>
                    <li class="page-scroll">
                        <a href="welcome#contact">GET IN TOUCH</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
        <div class="container">


 <!-- white box with title and email from -->


        <div class="row emailForm"> 

        <div class="col-sm-12">
        <h2>Thank you for taking our assessment!<br><br>Speak to a strategist now.</h2>
<p>Your brand is composed of many things.  You chose...<br>
<%= @form.types %>
<%= @form.targets %>
<%= @form.msgs %>
</p>
<p>But which combination will represent you most accurately?  You might be any of these....<br>
<% blah = @form.types.product(@form.msgs, @form.targets) %>
<% success = 0 %>
<% fail = 0 %>
<% used = [] %>
<% i = 0 %>
<% while success < 3 %>
  <% i = i + 1 %>
  <% test = blah.sample %>
  <% used.each do |used_triplet| %>
    <% if (used_triplet[0] == test[0] && used_triplet[1] == test[1] && used_triplet[2] == test[2]) %>
      <% fail += 1 %>
    <% end %>
  <% end %>
  <% if fail == 0 %>
    <% success += 1 %>
    <% used << test %>
  <% end %>
<% end %>
<br>
<%= used %>
</p>
            <div class="col-xs-12" style="margin-top: 40px;">
<%= form_for(Contact.new) do |f| %>
  <div>
  <%= f.email_field :email, class: "form-control inPut", placeholder: "E-MAIL" %>
  <%= f.url_field :website, class: "form-control inPut", placeholder: "WEBSITE" %>
  </div>

  <br>
  <p><%= f.submit "TALK TO A STRATEGIST", class: "btn btn-default field" %></p>
<% end %>

    </div>
    </div>
    </div>
        

    </div>



    <!-- jQuery     <script src="<%= asset_path('vendor/jquery/jquery.min.js') %>"></script> -->
    <script src="<%= asset_path('jquery.min.js') %>"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<%= asset_path('bootstrap.min.js') %>"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="<%= asset_path('jqBootstrapValidation.js') %>"></script>
    <script src="<%= asset_path('contact_me.js') %>"></script>

    <!-- Theme JavaScript -->
    <script src="<%= asset_path('freelancer.min.js') %>"></script>

</body>

